{% extends 'partials/base.html' %}
{% block title %}Editar Producto{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3 p-3 bg-white">
        <h3>Editar Producto</h3>
        <hr>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <a class="btn btn-secondary btn-md" href="{% url 'dashboard-product' %}">Cancelar</a>
            <input class="btn btn-info" type="submit" value="Confirmar">
        </form>
    </div>
</div>
{% endblock %}