{%extends 'partials/base.html'%}
{% block title %}Producto Borrado{% endblock %}

{%block content%}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Borrar Elemento</h3>
                <hr>
                <div class="alert alert-danger">
                    <h4>Estas seguro de que quieres Borrar</h4>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {{form}}
                    <a class="btn btn-secondary btn-md" href="{% url 'dashboard-product' %}">Cancel</a>
                    <input class="btn btn-danger" type="submit" value="Borrar">
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}