{% extends 'partials/base.html' %}
{% block title %}Detalles de Personal{% endblock %}


{% block content %}
{% include 'partials/topnav.html' %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Perfil
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="h4"> Informacion del perfil</span> 
                            <hr>
                            <table class="table bg-white table-borderless">
                                <tbody>
                                    <tr>
                                        <th scope="row">Nombre</th>
                                        <td>{{workers.username}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Email</th>
                                        <td>{{workers.email}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Telefono</th>
                                        <td>+57 {{workers.profile.phone}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Direccion</th>
                                        <td>{{workers.profile.address}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="{{workers.profile.image.url}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}